<p id="notice"><%= notice %></p>

<h1>Records</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Purpose</th>
      <th>Property owner</th>
      <th>Creation date</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.name %></td>
        <td><%= record.address %></td>
        <td><%= record.address_2 %></td>
        <td><%= record.city %></td>
        <td><%= record.state %></td>
        <td><%= record.zip %></td>
        <td><%= record.purpose %></td>
        <td><%= record.property_owner %></td>
        <td><%= record.creation_date %></td>
        <td><%= record.Lat %></td>
        <td><%= record.Long %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %>
